.input-wrapper {
  display: inline-flex;
  justify-content: space-around;
  width: 500px;
  max-width: calc(100% - 20px);
  margin-top: 30px;
}
.input-control {
  background-color: #f1f5f9;
  /* margin: 30px auto 30px auto; */
  height: 50px;
  text-align: left;
  border-radius: 5px;
  display: flex;
  width: 100%;
}

.input-control .search-icon { 
  width: 20px;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 10px;
}

.input-control .search-input {
  border: none;
  outline: none;
  background-color: #f1f5f9;
  height: 40px;
  font-size: 20px;
  margin-top: 3px;
}

.search-button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #091b2d;
  color: white;
  height: 40px;
  width: 80px;
  font-size: 18px;
  font-family: sans-serif;
  height: 50px;
  margin-left: 10px;
}