body {
  background-color: #f1f5f9;
  text-align: center;
  min-height: 100vh;
}

.app-body {
  background: white;
  min-height: calc(100vh - 60px);
  margin: 20px;
  padding-bottom: 20px;
}

@media (max-width: 576px) {
  .app-body {
    margin: 0px;
  }
}